body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-image: url(../assets/Ecran_Ligue_1.png);
}

/* #main_container {
    background-image: url(../assets/Ecran_Ligue_1.png);
} */

h1 {
    color: #fafcfc;
    font-weight: 700;
    font-style: italic;
    padding: 0 20px;
    margin: 25px 0;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

#card_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 45px;
    width: 75%;
    margin: auto;
}

.card {
    background-color: #2a2a2a;
    border-radius: 30px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
}

.card_img {
    width: 80px;
    height: 80px;
}

#card_1 {
    background-color: #014273;
}

#card_2 {
    background-color: #dc1232;
}

#card_3 {
    background-color: #fbfbfc;
}

#card_4 {
    background-color: #e52216;
}

#card_5 {
    background-color: #d42527;
}

#card_6 {
    background-color: #fbd035;
}

#card_7 {
    background-color: #db2c1d;
}

#card_8 {
    background-color: #86b9d4;
}

#card_9 {
    background-color: #152ca7;
}

#card_10 {
    background-color: #fbfbfc;
}

#card_11 {
    background-color: #7a638d;
}

#card_12 {
    background-color: #0c205f;
}

#card_13 {
    background-color: #18a0de;
}

#card_14 {
    background-color: #00a45e;
}

#card_15 {
    background-color: #c62e29;
}

#card_16 {
    background-color: #86b9d4;
}

#card_17 {
    background-color: #fe4b0b;
}

#card_18 {
    background-color: #112e63;
}
